/* 共通処理 */
header {
    background-color: #ffffff;
    width: 100%;
    height: 20px;
    top: 0;
}

body {
    background-color: #c4c4c4;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    /* サイズ変更して 折り返せるように */
    flex: 1;
}

footer {
    background-color: #ffffff;
    width: 100%;
    height: 20px;
    /* bottom: 0; */
    /* position: absolute 0; */
}

span {
    font-weight: bold;
}


/* カード */


.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 70px 5%;
    margin: 40px;
    justify-content: center;
    /* align-items: center; */
    align-content: flex-start;
}

.card {
    
    background-color: #ffffff;
    padding: 8px;
    /* max-width: max-content; */
    /* width: 300px; */

}

.card__img-top {
    /* max-width: 288px; */
    width: 288px;
    height: 182px;
    margin-bottom: 10px;
}

.card__title,
.card__description {
    /* テキスト折り返し */
    overflow-wrap: anywhere;
}

.card__title {
    color: #282828;
    font-size: 14px;
}

.card__description {
    color: #282828;
    font-size: 12px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

@media screen and (width: 768px){
    .card__title {
        font-size: 12px;
    }

    .card__description {
        padding-bottom: 0px;
        font-size: 10px;
    }
}

@media screen and (width: 320px) {
    .card__title {
        font-size: 12px;
    }

    .card__description {
        display: none;
    }
}


